<%= form_with  url: messages_path, method: :post, local: true do |f| %>
  <h1>Chat with Buyer</h1>
  
  <% if params[:item_type] == 'tractor' %>
    <% @tractor = Tractor.find_by(id: params[:item_id]) %>
    <%= f.hidden_field :item_id, value: @tractor.id %>
    <%= f.hidden_field :item_type, value: 'Tractor' %>
    <% if @tractor && @tractor.images.any? %>
      <%= image_tag(@tractor.images[0], class: "w-16 h-16 object-cover rounded-md", alt: "Tractor Image") %>
    <% end %>
  <% end %>

  <div class="chat-interface mt-5">
    <%= f.label :content, 'Your Message', class: 'sr-only' %>
    <%= f.text_area :content, placeholder: 'Type your message...', class: 'form-textarea w-full p-2 border rounded-lg', rows: 3 %>
  </div>


  <%= f.hidden_field :sender_id, value: params[:sender] %>
  <%= f.hidden_field :send_at, value: Time.now %>
  <%= f.hidden_field :receiver_id, value: params[:receiver] %>

  <div class="mt-4 text-right">
    <%= f.submit 'Send', class: 'btn-primary px-4 py-2 rounded-lg' %>
  </div>
<% end %>
