<div data-controller="drawer">
  <button data-action="click->drawer#toggle" class="<%= button_class %>">
    <i class="<%= button_icon %>"></i>
    <%= button_text %>
  </button>

  <div class="flex flex-col fixed inset-0 lg:left-3/4 dark:bg-black bg-white border border-gray-800 lg:pt-5 pb-20 min-h-screen font-normal text-sm z-50 hidden capitalize p-5 overflow-y-scroll w-full sm:w-11/12 lg:max-w-2xl lg:transform lg:-translate-x-1/2" data-drawer-target="drawer" data-id="<%= id %>">
    <div class="flex gap-4 sm:gap-6 lg:gap-10 items-center">
      <button data-action="click->drawer#close" class="dark:text-gray-200 text-gray-800 text-2xl">
        &times;
      </button>
      <h2 class="dark:text-gray-200 text-gray-800 font-semibold uppercase lg:text-base text-sm">
        <%= title %>
      </h2>
    </div>
    <hr class="border border-gray-100">
    <%= yield %>
  </div>

</div>