<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hello Tractor" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="vapid-public-key" content="<%= ENV.fetch('VAPID_PUBLIC_KEY') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <%= favicon_link_tag 'logos/orange-icon.png' %>

  </head>

  <body class="bg-gray-50">
    <% if current_user && current_user.is_phone_verified? %>
      <%= render 'layouts/sidebar', items: sidebar_items %>
    <% end %>
    <main class="<%= current_user && current_user.is_phone_verified? ? 'lg:ml-48 py-8 px-4' : '' %>">
      <% unless flash.empty? %>
        <div id="flash" data-main-target="flash">
          <%= render 'layouts/flash' %>
          <div id="progress-bar" data-main-target="progressBar" class="progress-bar"></div>
        </div>
      <% end %>

      <% if !current_user %>
        <%= render 'home/navbar' %>
      <% end %>

      <%= yield %>
    </main>
    <% if current_user && current_user.is_phone_verified? %>
      <%= render 'layouts/bottom_nav' %>
    <% end %>
  </body>
</html>
